/* --- Fullscreen center container --- */
.a-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- Wrapper --- */
.c-wrapper {
    display: flex;
}

/* --- Card  --- */
.card {
    box-sizing: border-box;
    height: 600px;
    border-radius: 20px;
    color: white;
    font-size: 1.5rem;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    overflow: hidden;
    perspective: 1200px;
    transition: width 0.3s ease;
}

/* --- Sizes --- */
.card-small {
    width: 500px;
}

.card-large {
    width: 1000px;
}

/* -- Flip inner wrapper -- */
.inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
    border-radius: inherit;
    overflow: hidden;
}

/* When flipping */
.inner.flip {
    transform: rotateY(180deg);
}

/* --- Faces 2 side --- */
.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    backface-visibility: hidden;
    overflow: hidden;
}

/* back face rotated */
.back {
    transform: rotateY(180deg);
}

/* --- Buttons --- */
.next-btn {
    position: absolute;
    bottom: 40px;
    right: 40px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #4A90E2;
    color: #30E3CA;
    font-weight: 600;
}

.next-btn:hover,
.before-btn:hover {
    background-color: #FF69B4;
    color: #30E3CA;
}


.before-btn {
    position: absolute;
    bottom: 40px;
    left: 40px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #4A90E2;
    color: #30E3CA;
    font-weight: 600;

}